input {
  height: 38px;
}

select {
  height: 38px;
  background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-128.png) 96% / 15% no-repeat #eee;
}

@media only screen and (max-width: 48rem) {
  select {
    background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-128.png) 96% / 10% no-repeat #eee;
  }
}
